# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
ios/
android/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# macOS
.DS_Store

# Env / secrets
.env
.env.local
*.env

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# Editor
.vscode/
.idea/
